<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-5 offset-1">
      <h1>{{ title }}</h1>
    </div>
    <div class="col-3">
      <input [(ngModel)]="filterPhrase"
             type="text"
             class="form-control">
    </div>
    <div class="col-2">
      <select class="form-control"
              [(ngModel)]="filterProp">
        <option value="name">By Name</option>
        <option value="email">By Email</option>
        <option value="phone">By Phone</option>
        <option value="id">By ID</option>
        <option value="age">By Age</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table table-hover ">
        <thead>
          <tr>
            <th (click)="setSorterKey('id')">#</th>
            <th (click)="setSorterKey('name')">Name</th>
            <th (click)="setSorterKey('isActive')">Active</th>
            <th (click)="setSorterKey('age')">Age</th>
            <th (click)="setSorterKey('email')">Email</th>
            <th (click)="setSorterKey('phone')">Phone</th>
            <th><button class="btn btn-primary"
                      routerLink="/addnewuser">Add new user</button></th>
          </tr>
        </thead>

        <tbody>
          <tr
              *ngFor="let user of userList | filter:filterPhrase:filterProp:changeCounter | sort:orderKey:orderDirection:changeCounter">
            <td>{{ user.id }}</td>
            <td>{{ user.name.last }} {{ user.name.first }}</td>
            <td>{{ user.isActive }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <div class="btn-group"
                   role="group">
                <button class="btn btn-warning"
                        routerLink="/users/{{ user.id }}">Edit</button>
                <button class="btn btn-danger"
                        (click)="deleteUser(user, i)">Remove</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
