<div class="container bar">
        <br>
        <p>Statisztika</p>
        <br>
        <img src="https://img.icons8.com/color/48/000000/apple.png">
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
         role="progressbar"
         [ngStyle]="{'width.%': appleUsers}">Alma</div>
    </div>
    <br>
    <img src="https://img.icons8.com/color/48/000000/banana.png">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
           role="progressbar"
           [ngStyle]="{'width.%': bananaUsers}"
           aria-valuemax="100">Banán</div>
    </div>
    <br>
    <img src="https://img.icons8.com/color/48/000000/strawberry.png"><div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
           role="progressbar"
           [ngStyle]="{'width.%': strawberryUsers}">Eper</div>
    </div>
  </div>
